<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSONParseExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10A5289A1E823C6700B2BABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10A528B31E823C6800B2BABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10A528BE1E823C6800B2BABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
